# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Arquivos de ambiente e configuração
.env
*.ini
!settings.ini

# Arquivos de dados
csv_files/
temp_downloads/

# Logs
logs/
*.log

# Dropbox
.dropbox
.dropbox.attr
.dropbox.cache

# Ambiente virtual
/venv/

secrets/
*token.json